<!DOCTYPE html>
<head>
  <title>Bryan's Personal Portfolio</title>
  <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="../assets/js/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div class="welcome">
      <img class="headshot" src="../assets/images/headshot.jpg"/>
      <h1>Bryan Albini</h1>
      <h2>Full Stack Web Developer</h2>
    </div>
    <div class="nav">
      <span><a href="#projects">Projects</a></span>
      <span><a href="#skills">Skills</a></span>
      <span>Contact</span>
    </div>
    <div id="skills">
      <h2>Skills</h2>
      <p>A full stack developer creatively focused with a logical approach to finding solutions. A systematic and focused approach to development ensures that the code in the project is easily readable and clean for all team members. My most recent projects have included Javascript, Ruby on Rails, CSS, and HTML.</p>
      <h4>Front End</h4>
      <p>HTML, CSS, Javascript, jQuery, React</p>
      <h4>Back End</h4>
      <p>Ruby, Ruby on Rails, Node.js</p>
      <h4>Databases</h4>
      <p>MongoDB, Postgresql</p>
      <h4>Other Skills</h4>
      <p>Git, Materialize, Bootstrap</p>
    </div>
    <div>
      <h2>Projects</h2>
      <div id="projects">
      </div>
    </div>
  </div>
  <footer>
    <h6>This is a footer</h6>
  </footer>
</body>
</html>
